body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


#container {
    width: 100%;


}

#entete {
    width: 100%;
    height: 50px;
    background-color: #000000cc;
    color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#entete .icone {
    display: flex;
    justify-content: space-between;

}

nav {
    width: 100%;
    height: 80px;



}

.navbar {
    min-height: 0px;
    padding: 0;

}

.navbar {
    margin-bottom: 0px;
}

.navbar-nav li.active {
    color: #FFF;
    background: #fdc236;
    list-style: none;
}


ul {
    list-style: none;
    /* background-color: red; */


}

li {
    width: 130px;
    height: 80px;
    padding: 20px;
    /* background-color: red; */

    display: inline-block;

}


a {
    display: inline-block;
    text-align: center;
    /* background-color: #fffefd; */
    text-decoration: none;
    color: rgb(251, 248, 248);
    /* padding: 25px; */
    /* height: 100%; */
}

a.g {
    display: inline-block;
    text-align: center;

    text-decoration: none;
    color: rgb(251, 248, 248) !important;



}

nav .collapse li:hover {

    background-color: #FDC236;

}
.dropdown {

   background:#FFFFFF;

  
  

}
ul .dropdown-menu {

    /* border: #FBC002 solid ; */
    width: 330px;
    height: 20px;
    height: auto;
    
   
 
 }
 .dropdown:hover .dropdown-menu{

display: block;
 }
 ul .dropdown-menu li{

    /* border: #FBC002 solid ; */
    width: 330px;
    height: 200px;
    background-color: #000000;
    height: auto;
    display: inline-block;
    display: flex;
    padding: 0px;
    align-items: start;
   
 
 }
 ul .dropdown-menu li:hover a{

    /* border: #FBC002 solid ; */
    width: 400px;
    /* color: black ; */
    height: auto;
    /* color: #000000 !important; */
   
 
 }
 ul .dropdown-menu li a:hover{

    border: #FBC002 solid ;
    width: 330px;
    /* color: black ; */
    background-color: none !important;
    height: auto;
    color: #000000 !important;
   
 
 }
 ul .dropdown-menu li a:{

    font-size: 0.2rem;
    width: 330px;
    /* color: black ; */
    background-color: none !important;
    height: auto;
    color: #000000 !important;
   
 
 }
 



li:hover a {

    color: #FFFFFF !important;

}

#slide {
    height: 450px;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro {
    width: 100%;
    height: 150px;
    background-color: #FDC236;
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#About {

    margin: auto;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #FDC236;
}

.blog1 {


    flex-basis: 55%;

    margin: auto;
}

.blog2 {
    flex-basis: 40%;


}

.blog2 img {

    border-right: #FDC236 solid 7px;
    border-bottom: #FDC236 solid 6px;

}

#service {
    padding: 15px;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    height: 600px;
    gap: 20px;
    background-color: #EEEEEE;

}

#service h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 30px;

}
#service .btn {
    background-color: #FCC642;
    color: black;
    font-size: 1rem;
    font-weight: bolder;

}

#text {
    margin: auto;
    width: 90%;
    height: 370px;
    padding: 10px;
    margin-top: 15px;
    background: #EEEEEE;
}
#textabout {
    margin: auto;
    width: 90%;
    height: 370px;
    padding: 10px;
    margin-top: 15px;
    background: #EEEEEE;
}

#sms {
    width: 100%;
    height: 500px;
    margin-top: 45px;
    background: url(images/inner-heading-bg.jpg);
    display: flex;
    flex-direction: column;

    align-items: center;
    color: #FDC236;

}

.titre {
    width: 100%;
    height: 500px;
    margin-top: 45px;

   display: flex;
    flex-basis: 5%;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;


}

.corp {


    margin-top: -20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000000;
    padding: 15px;
    gap: 15px;
    
}

#enfant {
    width: 100%;
    height: 500px;
    margin-top: 45px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.enfant1 {
    width: 343px;
    height: 333px;
    background: #FFFFFF;
    margin-top: 50px;
}

.enfant2 {
    width: 343px;
    height: 333px;
    background: #FFFFFF;
    margin-top: 50px;

}

.enfant3 {
    width: 343px;
    height: 333px;
    background: #FFFFFF;
    margin-top: 50px;

}

.enfant1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enfant1 p {
    text-align: center;
    margin-top: 10px;
}

.enfant2 p {
    text-align: center;
    margin-top: 10px;
}

.enfant3 p {
    text-align: center;
    margin-top: 10px;
}

.enfant2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enfant3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-carree {
    clip-path: ellipse(50% 50%);
    width: 100px;
    height: 100px;
    margin-right: -220px;
    margin-bottom: -50px;
    border: solid rgb(120, 52, 52);
}

p i {
    color: #FEEABA;
    font-size: 30px;
}
#team{
    padding: 15px;
    width:100% ;
    height: 500px;
    margin-top: 20px;
    box-sizing: border-box;
    text-align: center;
    /* border: solid 1px #FCC642; */
}
#team .btn{
    font-size: 1rem;
    font-weight: bolder;
    color:black ;
    background-color: #FBC002;
}
#team h2{
   font-size: 1rem;
   font-weight: bolder;
}
#piedindex{
    margin-top: 30px;
    width: 100%;
    height: 200px;
    background: #FCC642;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: solid 1px black;

}
#piedabout{
    margin-top: 30px;
    width: 100%;
    height: 200px;
    background: #FCC642;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: solid 1px black;

}
#piedblog{
    margin-top: 0px;
    width: 100%;
    height: 200px;
    background: #FCC642;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: solid 1px black;

}
#piedindex .btn{
    
    font-size: 1rem;
    font-weight: bolder;
    color:#FBC002 ;
    background-color:black ;
    width: 20%;
    

}
#piedabout .btn{
    
    font-size: 1rem;
    font-weight: bolder;
    color:#FBC002 ;
    background-color:black ;
    width: 20%;
    

}
#piedblog .btn{
    
    font-size: 1rem;
    font-weight: bolder;
    color:#FBC002 ;
    background-color:black ;
    width: 20%;
    

}
#footer{
    width: 100%;
    height: 400px;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    
}
.element1{
    width: 100%;
   
background-color: #000000;
    display: flex;
    flex-basis: 82%;
    border-bottom: solid;

    justify-content: space-around;

    /* background-color: #EEEEEE; */
    


}
.chid1{
    /* border: #FCC642 solid; */
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
  text-align: start;
   font-size: 1rem;
   justify-content: center;
   margin-top: -20px;
   margin-left: 40px;
}

.icone i{
    /* color: #EEEEEE; */
    text-align: center;
    margin-top: 2px;
    margin: 15px;
    color: #EEEEEE;
}
#footer p{
    margin-top: 1px;
    color: #EEEEEE;
    font-size: 1rem;
}
#footer p a{
   
    color: #FCC642 !important;
    
}

#footer a:hover {

    color: #FDC236 !important;

}
#footer img{
    color: #EEEEEE;
    font-size: 0.5rem !important;
    width: 40%;
    
}
#footer .chid2{
    /* border: #FCC642 solid; */
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    justify-content: center;
   
   font-size: 1rem;
   margin-top: -25px;
}
#footer h2{
   
   color: #fffffe;
   font-size: 1.5rem;
   display: flex;
   align-items: flex-start;
   
}
#footer a{
    display: flex;
    flex-direction: column;
    color: #EEEEEE !important;
    font-size: 1rem;
    align-items: flex-start;
    
}
footer h2{
    
    color: #EEEEEE;
    font-size: 2rem;
    
}
.chid3{
    /* border: #FCC642 solid; */
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
   justify-content: center;
   font-size: 10px;
   margin-top:-100px;
}
.chid4{
    /* border: #FCC642 solid; */
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
   
   font-size: 0.6rem;
   margin-top: 35px;
   align-items: flex-start;
}
.element2{
    background-color: #000000;
    margin-top: 0;
    width: 100%;
    flex-basis: 18%;
    display: flex;
    justify-content: space-around;
    color: #EEEEEE;
}

nav ul .pagination li {
    width: 130px;
    height: 80px;
    padding: 0px;
    /* background-color: red; */
    display: inline-block;
}
nav .pagination li{
    /* width: 100%; */
    margin: auto;
    box-sizing: border-box;
    
}
#pagination{
    width: 50%;
    margin: auto;
}
#erreur{
    /* background-color: #FBC002; */
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.erreur1 img{
   
    width: 100%;
    height: 300px;
   margin-right:50px ;
    display: flex;
    align-items: center;
   
}
.erreur2 {
   
    
    
   
}
.erreur2 h1{
   
   font-size: 3rem; 
   font-weight: bolder;
   letter-spacing: .18196078px;
   text-transform: uppercase;
    
   
}
.erreur2 p{
    text-align: center;
    margin-top: 20px;
   
    
    
   
}
#piederror{
    margin-top: 0px;
    width: 100%;
    height: 100px;
    /* background: #FCC642; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* border: solid 1px black; */

}




